@charset "UTF-8";
/* CSS Document */
/* ========== скелет ========== */
div.abs_top {
  height: 7px;
  width: 100%;
  background: url(../images/tpl/abs_top.png) repeat-x left top;
  position: absolute;
  left: 0;
  top: 773px;
  z-index: 6;
}

#wrap {
  max-width: 980px;
  margin: 0px auto -166px;
  font-size: 0.75em;
  overflow: hidden;
}

#container {
  z-index: 7;
  padding: 21px 0;
}

.main_body {
  padding-bottom: 20px;
}

.main_body p {
  line-height: 1.7em;
}

.margin_left {
  margin-left: 272px;
}

/* ===== Шапка ===== */
header .header_body {
  min-height: 159px;
  padding-bottom: 10px;
}

.main header .header_body {
  min-height: 115px;
  padding-bottom: 18px;
}

/* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
}

.menu__btn {
  display: none;
}

#menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#menu__toggle:checked ~ .header_menu {
  visibility: visible !important;
  left: 0;
}

/* ===== Left ===== */
div#left {
  width: 252px;
}

/* ===== Right ===== */
div.right_body {
  font-size: 0.75em;
}

/* ===== Подвал ===== */
#footer,
#push {
  height: 166px;
}

#footer {
  font-size: 0.75em;
  z-index: 6;
  background: url(../images/tpl/footer.jpg) no-repeat left bottom;
}

.footer_body {
  height: 166px;
  width: 980px;
  margin: 0 auto;
}

.footer_body .phone a {
  color: #fff;
  text-decoration: none;
}

/* ========== ========== */
/* ========== A ========== */
/* === a.more === */
a.more {
  padding-right: 20px;
  background: url(../images/tpl/a_more.gif) no-repeat right center;
}

a.more:hover {
  background: url(../images/tpl/a_more_hover.gif) no-repeat right center;
}

/* ========== img ========== */
/* ==== img.shadow ==== */
img.shadow {
  -webkit-box-shadow: 0px 20px 15px -13px #cacfd4;
  box-shadow: 0px 20px 15px -13px #cacfd4;
}

/* ========== UL ========== */
/* ==== ul.radius ==== */
ul.radius li {
  list-style-image: url(../images/tpl/ul_radius.png);
  padding: 3px 0 3px 4px;
}

/* ==== ul.radius_orange ==== */
ul.radius_orange li {
  list-style-image: url(../images/tpl/radius_orange.png);
}

/* ==== ul.tick ==== */
ul.tick {
  padding-left: 20px;
}

ul.tick li {
  list-style-image: url(../images/tpl/ul_tick.png);
  font-size: 0.9166em;
  margin: 5px 0;
}

/* ==== ul.tick_text ==== */
ul.tick_text li {
  font-family: "PT-Sans-Regular";
  font-size: 1.27em;
  color: #3b3e43;
}

/* ========== table ========== */
/* ==== table.tbl ==== */
table.tbl {
  font-family: "OpenSans-Light";
  border-collapse: separate !important;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #1470da;
  border-radius: 5px;
}

table.tbl th,
table.tbl td {
  text-align: center;
  padding: 9px 0;
  border-left: 1px solid #b8d4f4;
  border-top: 1px solid #b8d4f4;
}

table.tbl th {
  font-size: 1.16em;
  font-weight: normal;
  text-transform: uppercase;
  background: #1470da;
  color: #fff;
  border-top: 1px solid #1470da;
}

table.tbl th:first-of-type {
  border-left: 1px solid #1470da;
}

table.tbl th:last-of-type {
  border-right: 1px solid #1470da;
}

table.tbl td {
  font-size: 1.083em;
  color: #2d2d2d;
}

table.tbl tr td:first-of-type {
  border-left: 1px solid #1470da;
}

table.tbl tr:last-of-type td {
  border-bottom: 1px solid #1470da;
}

table.tbl tr td:last-of-type {
  border-right: 1px solid #1470da;
}

/* ====== input ====== */
/* === itext === */
.itext {
  font-family: "OpenSans-Regular";
  padding: 4px 4px 3px 4px;
  margin: 0;
  background: #fff;
  border: 1px solid #bec8d6;
  font-size: 1.083em;
  border-radius: 3px;
  color: #33373d;
}

/* === itext_pup === */
.itext_pup {
  font-family: "OpenSans-Regular";
  padding: 5px 5px 4px 5px;
  margin: 0;
  background: #eff2f6;
  border-left: 1px solid #cbced1;
  border-top: 1px solid #cbced1;
  border-right: 1px solid #eff2f6;
  border-bottom: 1px solid #eff2f6;
  border-radius: 3px;
  font-size: 1.083em;
  color: #33373d;
}

/* === itext_pup_num === */
.itext_pup_num {
  width: 48px;
  font-family: "OpenSans-Regular";
  text-align: center;
  padding: 2px 0;
  margin: 0;
  background: #eff2f6;
  border-left: 1px solid #eff2f6;
  border-top: 1px solid #cbced1;
  border-right: 1px solid #eff2f6;
  border-bottom: 1px solid #eff2f6;
  font-size: 1.083em;
  color: #33373d;
}

/* === child_age === */
.child_age {
  width: 20px;
  font-family: "OpenSans-Regular";
  text-align: center;
  padding: 2px 0;
  margin: 0;
  background: #eff2f6;
  border-left: 1px solid #cbced1;
  border-top: 1px solid #cbced1;
  border-right: 1px solid #eff2f6;
  border-bottom: 1px solid #eff2f6;
  border-radius: 3px;
  font-size: 1.083em;
  color: #33373d;
}

/* ========= button ========= */
.btn {
  display: inline-block;
  height: 31px;
  line-height: 2.6em;
  border: none;
  background: url(../images/tpl/btn.gif) repeat-x left top;
  color: #0d0c0a;
  padding: 0 16px;
  margin: 0;
  text-shadow: 0px 1px #ffe583;
  -webkit-box-shadow: 0px 3px 0px 0px #a86001;
  box-shadow: 0px 3px 0px 0px #a86001;
  border-radius: 9px;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  color: #0d0c0a;
}

/* ====  btn_reset ==== */
.btn_reset {
  background: #ffdf03;
}

/* ========== all ========== */
/* === title_more === */
div.title_more h1,
div.title_more .h1,
div.title_more h2,
div.title_more .h2 {
  display: inline-block;
  font-size: 1.33em;
}

div.title_more .more {
  font-family: Tahoma;
  font-size: 0.9166em;
  position: relative;
  top: -3px;
  display: inline-block;
}

/* === input_num_bx === */
.input_num_bx a {
  height: 24px;
  width: 17px;
  text-align: center;
  display: block;
  color: #fff;
  background: url(../images/tpl/input_num_bx_a.gif) repeat-x left top;
  line-height: 2em;
  cursor: pointer;
  text-decoration: none;
}

.input_num_bx a.minus {
  float: left;
  border-radius: 3px 0 0 3px;
}

.input_num_bx a.plus {
  float: right;
  border-radius: 0 3px 3px 0;
}

/* === ui-datepicker === */
.ui-datepicker {
  font-size: 0.7em;
}

/* === пагинация === */
.list_pages {
  text-align: right;
  margin-top: 34px;
  font-size: 1.083em;
}

.list_pages ul li,
.list_pages a {
  display: inline-block;
  color: #464646;
}

.list_pages a {
  text-decoration: none;
}

.list_pages .num a {
  padding: 0px 4px;
}

.list_pages li.active a {
  background: #ffeb40;
  border: 1px solid #cecece;
  font-weight: bold;
}

.list_pages .ava a {
  padding: 0;
}

.list_pages .ava img {
  vertical-align: middle;
  position: relative;
  top: -1px;
  margin: 0 9px;
}

/* === reservation_pop === */
div.pop_bg {
  background: url(../images/tpl/pop_bg.png) left top;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  display: none;
}

.reservation_pop {
  width: 680px;
  position: absolute;
  left: 200px;
  top: 200px;
  background: #fff;
  z-index: 999;
  font-size: 0.75em;
  border-top: 8px solid #ffe400;
  border-radius: 3px;
  padding: 13px 35px 22px 39px;
  display: none;
}

.reservation_pop .wrap {
  position: relative;
}

.reservation_pop .close {
  position: absolute;
  top: -27px;
  right: -45px;
}

.reservation_pop .left_bx {
  width: 371px;
  float: left;
  border-right: 1px solid #dcddde;
}

.reservation_pop .right_bx {
  margin-left: 409px;
}

.reservation_pop .title {
  font-family: "OpenSans-Regular";
  color: #0f55ca;
  font-size: 1.83em;
  text-transform: uppercase;
}

.reservation_pop .reservation_frm {
  width: 208px;
  background: url(../images/tpl/rooms_price.gif) left top;
  border-radius: 5px;
  border-top: 1px solid #fff;
  border-left: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
  border-bottom: 1px solid #bebebe;
  padding: 13px 21px 8px 19px;
  margin: 15px 0 15px 0;
}

.reservation_pop .reservation_frm ul li {
  margin-bottom: 13px;
}

.reservation_pop .reservation_frm label {
  font-family: "OpenSans-Regular";
  font-size: 1.083em;
  display: block;
  color: #8c8d8f;
  padding-bottom: 7px;
}

.reservation_pop .reservation_frm .itext_pup {
  background: #fff;
  border-left: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  width: 196px;
}

.reservation_pop .reservation_frm .itext_pup_num {
  background: #fff;
  border-left: 1px solid #fff;
  border-top: 1px solid #d9d9d9;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.reservation_pop .reservation_frm .child_age {
  background: #fff;
  border-left: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin-left: 4px;
}

.reservation_pop .reservation_frm .ui-datepicker-trigger {
  width: auto;
  position: absolute;
  margin: 3px 0 0 -30px;
}

.reservation_pop .reservation_frm .left {
  width: auto;
  float: left;
}

.reservation_pop .reservation_frm .right {
  width: auto;
  float: right;
}

.reservation_pop .reservation_frm .childs {
  display: none;
}

.reservation_pop .desc_rooms {
  font-size: 0.9166em;
  padding-right: 25px;
  color: #676f7b;
}

.reservation_pop .desc_rooms .title {
  font-family: "OpenSans-Semibold";
  font-size: 1.33em;
  color: #1470da;
}

.reservation_pop .desc_rooms .ava {
  float: left;
  width: 174px;
}

.reservation_pop .desc_rooms .ava img {
  margin-bottom: 7px;
}

.reservation_pop .desc_rooms .desc {
  margin-left: 174px;
}

.reservation_pop .desc_rooms .price {
  padding-top: 10px;
}

.reservation_pop .desc_rooms .price strong {
  color: #191919;
  font-size: 1.18em;
}

.reservation_pop .desc_rooms .orange {
  font-size: 1.09em;
}

.reservation_pop .desc_rooms .orange span {
  font-size: 1.5em;
}

.reservation_pop .reviews_email_frm ul li {
  margin-bottom: 13px;
}

.reservation_pop .reviews_email_frm label {
  font-family: "OpenSans-Regular";
  font-size: 1.083em;
  display: block;
  color: #8c8d8f;
  padding-bottom: 7px;
}

.reservation_pop .reviews_email_frm .itext_pup {
  width: 259px;
}

.reservation_pop .reviews_email_frm textarea.itext_pup {
  height: 100px;
}

.reservation_pop .reviews_email_frm .btn_reset {
  float: right;
}

.reservation_pop .reviews_email_frm .btn {
  width: 126px;
}

/* === more_bx === */
.more_bx {
  font-family: Tahoma;
  font-size: 0.9166em;
}

.more_bx .more_sep {
  vertical-align: middle;
}

/* ========== sep ========== */
.sep {
  height: 1px;
  display: block;
  background: #dcddde;
  margin: 20px 0;
}

/* === more_sep === */
.more_sep {
  height: 12px;
  width: 1px;
  background: #1470da;
  margin: 0px 12px;
  display: inline-block;
}

/* ========== компоненты ========== */
/* === ОПИСАНИЕ НОМЕРОВ === */
.description_apparts {
  padding-top: 35px;
}

.description_apparts h3,
.description_apparts .h3 {
  color: #2a2b2c;
  font-size: 1.16em;
}

.description_apparts p {
  background: #eef6fc;
  padding: 17px 22px;
}

/* === Номера === */
.rooms .left {
  width: 221px;
  float: left;
  padding-top: 5px;
}

.rooms .left img {
  padding-bottom: 20px;
  background: url(../images/tpl/rooms_left_img.png) no-repeat left top;
}

.rooms .right {
  text-align: center;
  width: 206px;
  float: right;
}

.rooms .price {
  height: 74px;
  background: url(../images/tpl/rooms_price.gif) left top;
  border-radius: 5px;
  border-left: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
  border-bottom: 1px solid #bebebe;
  color: #444;
  line-height: 6em;
}

.rooms .price span {
  font-family: Verdana;
  font-size: 2.25em;
}

.rooms .right .btn {
  font-family: "OpenSans-Semibold";
  font-size: 1.0833em;
  text-transform: uppercase;
  margin-top: 15px;
}

.rooms .center {
  margin: 0 206px 0 237px;
}

.rooms .title {
  font-family: "OpenSans-Semibold";
  font-weight: normal;
  margin: 0 0 1em 0;
  text-transform: uppercase;
  color: #1470da;
  font-size: 1.33em;
}

.rooms .show_info {
  background: url(../images/tpl/rooms_price.gif) left top;
  border-radius: 5px;
  padding: 9px;
}

.rooms .open_info {
  font-family: "OpenSans-Semibold";
  font-size: 1.0833em;
  color: #000;
  background: url(../images/tpl/open_info.png) no-repeat right center;
  padding-right: 15px;
}

.rooms .open_info.active {
  background: url(../images/tpl/open_info_active.png) no-repeat right 7px;
}

.rooms .mod_slider {
  margin-top: 20px;
}

.rooms .text_bx {
  color: #54698a;
}

/* === Отзывы === */
.reviews {
  margin: 0;
}

.reviews .left {
  width: 95px;
  float: left;
}

.reviews .left img {
  border: 1px solid #b9bfc5;
  padding: 4px;
  background: #fff;
}

.reviews .right {
  margin-left: 113px;
}

.reviews .date {
  float: right;
  color: #989899;
  font-size: 0.9166em;
}

.reviews .title {
  font-family: "OpenSans-Regular";
  font-size: 1.25em;
}

.reviews .title a {
  text-decoration: none;
}

.reviews .text {
  padding: 4px 0 0 11px;
  background: url(../images/tpl/reviews_cit_start.png) no-repeat left top;
  margin-top: 5px;
}

.reviews .text p {
  padding: 0px 0 8px 0;
  background: url(../images/tpl/reviews_cit_end.png) no-repeat right bottom;
  margin: 0px;
  line-height: 1.2em;
}

/* === Оставить Отзыв === */
.reviews_add_frm .title {
  font-family: "OpenSans-Semibold";
  color: #1470da;
  font-size: 1.33em;
  text-transform: uppercase;
}

.reviews_add_frm ul li {
  padding-top: 12px;
}

.reviews_add_frm label {
  display: block;
  padding-bottom: 4px;
}

.reviews_add_frm input.itext {
  width: 249px;
}

.reviews_add_frm textarea.itext {
  height: 64px;
  width: 579px;
}

.reviews_add_frm .btn_bx {
  padding-top: 20px;
}

.reviews_add_frm .btn {
  width: 126px;
}

/* === события === */
.news {
  margin: 0;
}

.news .left {
  width: 268px;
  float: left;
}

.news .right {
  margin-left: 283px;
}

.news .date {
  font-size: 0.9166em;
  color: #a6a6a6;
}

.news .title {
  padding-top: 10px;
  padding: 20px 0 10px 0;
}

.news .title a {
  font-size: 1.5em;
  text-decoration: none;
  color: #1470da;
}

.news .title a:hover {
  text-decoration: underline;
}

.news p {
  line-height: 1.4em;
}

/* ========== Мoдули ========== */
/* === */
/* === логотип === */
.mod_logo {
  position: absolute;
  top: 25px;
  left: 0px;
}

/* === адрес в шапке === */
.mod_top_address {
  font-family: "OpenSans-Regular";
  width: auto;
  position: absolute;
  top: 22px;
  left: 288px;
  line-height: 1.5em;
  color: #d2dfff;
}

.mod_top_address-inner div {
  width: auto;
  float: left;
  margin-right: 24px;
  padding-left: 34px;
  min-height: 23px;
}

.mod_top_address div:last-of-type {
  margin-right: 0;
}

.mod_top_address div a {
  color: #f5f9ff;
}

.mod_top_address .email {
  background: url(../images/tpl/mod_top_address_email.png) no-repeat left top;
}

.mod_top_address .phone {
  background: url(../images/tpl/mod_top_address_phone.png) no-repeat left top;
}

.mod_top_address .phone a {
  text-decoration: none;
}

.mod_top_address .phone span.yelow {
  color: #ffd800;
  font-size: 1.25em;
}

.mod_top_address .phone span.sity {
  font-size: 0.9166em;
}

/* === обратный звонок === */
.mod_callback {
  width: auto;
  position: absolute;
  right: 0;
  top: 17px;
}

/* === главное меню === */
.mod_main_menu {
  height: 37px;
  width: auto;
  text-transform: uppercase;
  position: absolute;
  top: 76px;
  right: 0px;
  text-align: center;
  font-family: "OpenSans-Semibold";
  font-size: 1.0833em;
  background: url(../images/tpl/mod_main_menu.png) repeat-x left top;
  border-radius: 5px;
}

.mod_main_menu li {
  float: left;
}

.mod_main_menu a {
  height: 37px;
  display: block;
  text-decoration: none;
  color: #fff;
  line-height: 2.9em;
  background: url(../images/tpl/mod_main_menu.png) no-repeat right -37px;
  padding: 0 12px 0 10px;
}

.mod_main_menu li:last-of-type a {
  background: none;
  border-radius: 0 5px 5px 0;
}

.mod_main_menu li:first-of-type a {
  border-radius: 5px 0 0 5px;
}

.mod_main_menu a:hover,
.mod_main_menu li:last-of-type a:hover {
  background: url(../images/tpl/mod_main_menu.png) repeat-x left bottom;
  color: #18345d;
}

/* === Бронирование === */
.mod_reservation {
  width: auto;
  position: absolute;
  top: 153px;
  left: 23px;
  z-index: 999;
  border-radius: 6px;
  background: url(../images/tpl/x.png);
  padding: 4px;
}

.mod_reservation .wrap {
  width: 205px;
  border-radius: 6px;
  background: #fff;
  border-top: 8px solid #ffe400;
  padding: 16px;
}

.mod_reservation .title {
  font-family: "OpenSans-Regular";
  font-size: 1.83em;
  text-transform: uppercase;
  color: #0f55ca;
}

.mod_reservation ul li {
  width: 100%;
  float: left;
  padding-top: 10px;
  position: relative;
}

.mod_reservation label {
  font-family: "OpenSans-Regular";
  display: block;
  padding-bottom: 8px;
  font-size: 1.083em;
  color: #8c8d8f;
}

.mod_reservation .itext_pup {
  width: 193px;
}

.mod_reservation .child_age {
  margin-left: 4px;
}

.mod_reservation .ui-datepicker-trigger {
  width: auto;
  position: absolute;
  margin: 3px 0 0 -30px;
}

.mod_reservation .left {
  width: auto;
  float: left;
}

.mod_reservation .right {
  width: auto;
  float: right;
}

.mod_reservation .childs {
  display: none;
}

.mod_reservation .btn_bx {
  padding-top: 23px;
}

.mod_reservation .btn {
  width: 205px;
  color: #0d0c0a;
  font-size: 1.083em;
  text-transform: uppercase;
}

/* === слайдер === */
.mod_main_slider {
  height: 436px;
  position: relative;
}

.mod_main_slider li {
  height: 436px;
  width: 980px;
  float: left;
  position: relative;
  background: url(../images/tpl/mod_main_slider.png) no-repeat left top;
}

.mod_main_slider .body {
  width: auto;
  position: absolute;
  top: 0;
  right: 0;
  padding: 89px 51px 0 0;
  text-align: right;
}

.mod_main_slider .title {
  font-family: "OpenSans-Semibold";
  font-size: 2em;
  color: #000;
  background: #ffe400;
  padding: 0 10px;
  display: inline-block;
  margin-bottom: 11px;
}

.mod_main_slider .desc {
  max-width: 375px;
  background: #e7e7e7;
  color: #676f7b;
  padding: 3px;
  margin-bottom: 26px;
}

.mod_main_slider .btn {
  font-size: 0.9166em;
  line-height: 3em;
}

.mod_main_slider .nav {
  height: 37px;
  width: 29px;
  position: absolute;
  top: 336px;
  display: block;
  background: url(../images/tpl/mod_main_slider_nav.png) no-repeat;
  cursor: pointer;
}

.mod_main_slider .prev {
  right: 91px;
  background-position: left top;
}

.mod_main_slider .next {
  right: 51px;
  background-position: right top;
}

/* === mod_slider === */
.mod_slider {
  height: 99px;
  margin: 0 17px;
  position: relative;
}

.mod_slider ul li {
  height: 99px;
  width: 123px;
  margin: 0 4px;
  float: left;
}

.mod_slider .nav {
  height: 37px;
  width: 22px;
  position: absolute;
  top: 23px;
  display: block;
  background: url(../images/tpl/mod_slider_nav.png) no-repeat;
  cursor: pointer;
}

.mod_slider .prev {
  left: -25px;
  background-position: left top;
}

.mod_slider .next {
  right: -25px;
  background-position: right top;
}

/* === mod_banners === */
.mod_banners {
  height: 213px;
  overflow: hidden;
  text-align: justify;
  position: relative;
}

.mod_banners figure {
  height: 213px;
  width: 300px;
  display: inline-block;
  margin: 0;
  background: url(../images/tpl/mod_banners.png) no-repeat center;
  background-size: 100%;
}

.mod_banners figure:last-of-type {
  width: 90%;
  background: none;
}

/* === mod_info_bxs === */
.mod_info_bxs {
  height: 270px;
  overflow: hidden;
  text-align: justify;
}

.mod_info_bxs figure {
  height: 256px;
  width: 347px;
  display: inline-block;
  border-top: 5px solid #1c75dc;
  margin: 0;
  background: #fdfeff url(../images/tpl/mod_info_bxs.gif) repeat-x left bottom;
  border-radius: 5px;
  -webkit-box-shadow: 0px 15px 20px -15px #cacfd4;
  box-shadow: 0px 15px 20px -15px #cacfd4;
  margin-bottom: 14px;
}

.mod_info_bxs figure:last-of-type {
  width: 90%;
  background: none;
}

.mod_info_bxs figcaption {
  font-family: "OpenSans-Semibold";
  font-size: 1.16em;
  text-transform: uppercase;
  text-align: center;
  color: #373942;
  padding-top: 18px;
}

.mod_info_bxs ol.num_orange,
.mod_info_bxs ul.radius_orange {
  font-family: "PT-Sans-Regular";
  padding: 0 10px 0 26px;
  font-size: 1.083em;
  color: #393939;
  text-align: left;
}

.mod_info_bxs ol.num_orange {
  font-family: "PT-Sans-Bold";
  color: #f74923;
}

.mod_info_bxs ol.num_orange span {
  font-family: "PT-Sans-Regular";
  color: #393939;
}

.mod_info_bxs ol li,
.mod_info_bxs ul li {
  margin-top: 20px;
}

/* === хлебные крошки === */
.mod_breadcrumb {
  background: #d8edff;
  padding: 8px 12px;
  border-radius: 3px;
  color: #dd5129;
  font-size: 0.9166em;
}

.mod_breadcrumb a {
  color: #1b3b6f;
}

.mod_breadcrumb img {
  margin: 0 9px;
}

/* === События === */
.mod_events {
  width: 251px;
}

.mod_events .title {
  height: 30px;
  line-height: 2em;
  background: #1470da;
  border-radius: 2px;
  padding-left: 16px;
  color: #fff;
  font-size: 1.25em;
  text-transform: uppercase;
  font-family: "OpenSans-Semibold";
  margin-bottom: 10px;
}

.mod_events .title .link {
  margin-left: 6px;
  border-left: 1px solid #fed700;
  padding-left: 7px;
  display: inline-block;
  font-size: 0.7333em;
  line-height: 1.3em;
  text-transform: none;
  position: relative;
  top: -2px;
}

.mod_events .title a {
  color: #fed700;
}

.mod_events figure {
  height: 194px;
  margin: 5px 0 0 0;
  position: relative;
  overflow: hidden;
}

.mod_events figcaption {
  height: 83px;
  position: absolute;
  left: 0;
  bottom: 0;
  cursor: pointer;
  background: url(../images/tpl/mod_events.png);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mod_events figure:hover figcaption {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mod_events figcaption .wrap {
  height: 83px;
  display: table-cell;
  vertical-align: middle;
  padding: 0 16px;
}

.mod_events figcaption .date {
  display: inline-block;
  width: 100%;
  color: #83c8f0;
  font-size: 0.9166em;
  padding: 9px 0 0 0;
}

.mod_events figcaption a {
  font-family: "OpenSans-Regular";
  font-size: 1.0833em;
  color: #fff;
  display: inline-block;
  line-height: 1.3em;
  padding: 3px 0px 5px 0;
}

.mod_events figcaption .desc {
  font-size: 0.9166em;
  color: #a8bad6;
  line-height: 1.5em;
  display: inline-block;
}

.mod_events figcaption.hover .date {
  color: #fff;
}

.mod_events figcaption.hover a {
  padding: 19px 0;
  color: #ffe400;
  text-decoration: underline;
}

/* === mod_weather === */
.mod_weather {
  padding: 22px 0;
}

/* === mod_map === */
.mod_map {
  border-radius: 5px;
  border: 1px solid #c0c8d1;
}

.mod_map iframe {
  border-radius: 5px;
}

/* === mod_content_galery === */
.mod_content_galery {
  height: 250px;
  overflow: hidden;
  text-align: justify;
}

.mod_content_galery figure {
  height: 250px;
  width: 223px;
  display: inline-block;
  margin: 0;
}

.mod_content_galery figure:last-of-type {
  width: 90%;
}

.mod_content_galery figcaption {
  font-family: "OpenSans-Regular";
  padding-top: 17px;
  font-size: 1.25em;
}

/* === mod_content_galery_desc === */
.mod_content_galery_desc {
  margin-top: 20px;
}

.mod_content_galery_desc img {
  -webkit-box-shadow: 0px 20px 15px -13px #cacfd4;
  box-shadow: 0px 20px 15px -13px #cacfd4;
}

.mod_content_galery figcaption {
  font-family: "OpenSans-Regular";
  padding-top: 10px;
  font-size: 1.33em;
}

.mod_content_galery figcaption p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.6875em;
  text-align: left;
  line-height: 1.2em;
  margin: 5px 0px;
}

/* === mod_citate === */
.mod_citate {
  background: #ddedff;
  border-radius: 5px;
  padding: 17px 19px;
}

.mod_citate p {
  margin: 0;
  padding-left: 32px;
  background: url(../images/tpl/mod_citate.png) no-repeat left 4px;
  color: #2a569e;
}

.mod_citate .avtgf {
  padding-top: 10px;
}

.mod_citate .text {
  float: right;
  font-weight: bold;
  font-style: italic;
  color: #1470da;
  font-size: 1.16em;
  background: #ddedff;
  padding-left: 10px;
}

.mod_citate .dotted {
  height: 9px;
  border-bottom: 1px dotted #8dbbf0;
}

/* === Услуги === */
.mod_services h3,
.mod_services .h3 {
  color: #2a2b2c;
  font-size: 1.16em;
}

/* === Отзывы наших клиентов === */
.mod_reviews figure {
  width: 197px;
  float: left;
  padding: 0 25px 0 32px;
  margin: 0;
  border-right: 1px solid #dcddde;
}

.mod_reviews figure:first-of-type {
  padding-left: 0;
}

.mod_reviews figure:last-of-type {
  padding-right: 0;
  border: 0;
}

.mod_reviews figure img {
  float: left;
  margin: 0 14px 7px 0;
}

.mod_reviews figure .date {
  color: #989899;
  font-size: 0.9166em;
}

.mod_reviews figure .title {
  color: #1470da;
  font-size: 1.25em;
  font-family: "OpenSans-Regular";
  line-height: 1.2em;
  padding-top: 6px;
}

.mod_reviews figure .text {
  clear: left;
  padding-top: 17px;
  background: url(../images/tpl/quotes_start.png) no-repeat left top;
}

.mod_reviews figure .text p {
  padding-bottom: 10px;
  background: url(../images/tpl/quotes_end.png) no-repeat right bottom;
  margin: 0;
  line-height: 1.4em;
}

/* === инфа в подвале === */
.mod_foot_info {
  width: auto;
  position: absolute;
  left: 0;
  top: 32px;
}

.mod_foot_info .address {
  font-family: "OpenSans-Regular";
  color: #d4edfa;
  padding-left: 22px;
  background: url(../images/tpl/mod_foot_address.png) no-repeat left 2px;
  line-height: 1.3em;
}

.mod_foot_info .phone {
  font-family: "OpenSans-Regular";
  padding-left: 22px;
  background: url(../images/tpl/mod_foot_phone.png) no-repeat left 2px;
  color: #f5f9ff;
  font-size: 0.9166em;
  margin-top: 15px;
}

.mod_foot_info .phone span.yelow {
  color: #ffd800;
  font-size: 1.27em;
}

.mod_foot_info .phone span.sity {
  color: #7babfc;
}

.mod_foot_info .email {
  font-family: "OpenSans-Regular";
  padding-left: 22px;
  font-size: 0.83em;
  margin-top: 15px;
  background: url(../images/tpl/mod_foot_email.png) no-repeat left 4px;
}

.mod_foot_info .email a {
  color: #66ccff;
}

/* === меню в подвале === */
.mod_foot_menu {
  width: auto;
  top: 32px;
  left: 428px;
  position: absolute;
  font-family: "OpenSans-Regular";
  text-transform: uppercase;
  font-size: 0.9166em;
}

.mod_foot_menu ul {
  margin-right: 59px;
  float: left;
}

.mod_foot_menu ul:last-of-type {
  margin-right: 0;
}

.mod_foot_menu ul li {
  display: block;
  padding: 0 0 9px 22px;
  background: url(../images/tpl/mod_foot_menu.gif) no-repeat left 3px;
}

.mod_foot_menu a {
  color: #cae5ff;
}

/* === mod_social === */
.mod_social {
  width: auto;
  position: absolute;
  right: 0;
  top: 32px;
}

.mod_social a {
  margin-left: 6px;
}

/* === mod_count === */
.mod_count {
  width: auto;
  position: absolute;
  right: 0;
  top: 78px;
}

.mod_count a {
  margin-left: 13px;
}

/* === mod_copy === */
.mod_copy {
  width: auto;
  position: absolute;
  right: 0;
  bottom: 28px;
  color: #66ccff;
  font-size: 0.9166em;
}

@media screen and (max-width: 980px) {
  * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body {
    background-color: #fff;
  }
  .abs_top {
    display: none;
  }
  .main {
    overflow-x: hidden;
  }
  #wrap {
    padding: 0 10px;
  }
  .header_body {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header_body {
    min-height: 115px !important;
    padding-bottom: 18px !important;
  }
  .header_body * {
    position: static;
  }
  .mod_logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  .mod_logo img {
    width: 100%;
  }
  .mod_top_address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .mod_top_address-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .mod_main_menu {
    margin: 0 auto;
  }
  .mod_reservation {
    display: none;
  }
  a.more {
    background-position: right 60%;
  }
  a.more:hover {
    background-position: right 60%;
  }
  .mod_main_slider {
    height: auto;
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  .mod_main_slider li {
    height: 100%;
    width: 100vw;
  }
  .mod_main_slider .body {
    width: 100%;
    height: 100%;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mod_main_slider .btn {
    line-height: 2.1em;
  }
  .mod_main_slider .title {
    text-align: center;
  }
  .mod_main_slider .desc {
    text-align: center;
  }
  .mod_main_slider .prev {
    right: 51%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  .mod_main_slider .next {
    left: 51%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  .mod_banners {
    height: 213px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .mod_banners figure {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 30%;
            flex: 1 1 30%;
    width: 100vw;
    height: auto;
    max-height: 213px;
    padding-bottom: 40px;
    margin-right: 1%;
  }
  .mod_banners figure:nth-child(3) {
    margin-right: 0;
  }
  .mod_banners figure:last-of-type {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .mod_banners figure img {
    width: 100%;
  }
  #left {
    display: none;
  }
  .margin_left {
    margin-left: 0;
  }
  .mod_info_bxs {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .mod_info_bxs figure {
    height: auto;
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), color-stop(90%, rgb(233, 239, 247)));
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(233, 239, 247) 90%);
  }
  .mod_content_galery figcaption p {
    text-align: center;
  }
  .tbl {
    display: block;
    overflow-x: scroll;
  }
  table.tbl th {
    min-width: 200px;
  }
  .mod_content_galery {
    min-height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .mod_content_galery figure {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33%;
            flex: 0 0 33.33%;
  }
  .mod_content_galery figure:last-of-type {
    width: 90%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .mod_reviews {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mod_reviews .title_more {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    text-align: center;
  }
  #footer {
    height: auto;
    background-position: top;
    background-size: cover;
  }
  .footer_body {
    height: auto !important;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 10px;
    background-color: #0b51c3;
  }
  .footer_body * {
    position: static;
  }
  .mod_copy {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    text-align: center;
    margin-top: 20px;
  }
  .mod_count {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-top: 20px;
  }
  div.pop_bg {
    height: 100vh !important;
    position: fixed;
  }
  .reservation_pop {
    width: auto;
    top: 50% !important;
    left: 50% !important;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 80vh;
    position: fixed;
    overflow-y: scroll;
  }
  .reservation_pop .reviews_email_frm .itext_pup {
    width: 100%;
  }
  .reservation_pop .btn_bx {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .reservation_pop .btn_bx .btn_reset {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 830px) {
  .mod_callback {
    display: none;
  }
  .mod_social {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-top: 20px;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.8em;
  }
  h2 {
    font-size: 1.63em;
  }
  h3 {
    font-size: 1.43em;
  }
  h4 {
    font-size: 1.33em;
  }
  h5 {
    font-size: 1.13em;
  }
  #wrap {
    font-size: 1.1em;
  }
  div.title_more h1, div.title_more .h1, div.title_more h2, div.title_more .h2 {
    font-size: 1.5em;
  }
  .header_body {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .mod_logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 35%;
            flex: 0 0 35%;
  }
  .mod_top_address {
    margin-left: 20px;
  }
  .email {
    display: none;
  }
  .mod_main_menu {
    position: absolute;
  }
  .menu__btn {
    background-color: #0b51c3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; /* используем flex для центрирования содержимого */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; /* центрируем содержимое кнопки */
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    top: 75px;
    left: 20px;
    width: 32px;
    height: 26px;
    cursor: pointer;
    z-index: 11;
  } /* добавляем "гамбургер" */
  .menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    width: 100%;
  }
  .menu__btn > span {
    width: 80%;
  }
  .menu__btn > span::before {
    content: "";
    top: -8px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  /* контейнер меню */
  .mod_main_menu .menu {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100vh;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background: #fff url(../images/tpl/main_body.jpg) no-repeat left top;
    -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    z-index: 10;
  }
  /* элементы меню */
  .mod_main_menu li {
    display: block;
    width: 100%;
    background: none;
  }
  .mod_main_menu a {
    line-height: 1.9em;
    background: none;
  }
  .mod_content_galery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    text-align: center;
  }
  .mod_content_galery figure {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-bottom: 50px;
  }
  .mod_content_galery figure:last-of-type {
    margin-bottom: 0;
  }
  .mod_reviews {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mod_reviews figure {
    width: 100%;
    padding: 0;
    border-right: none;
    margin-top: 10px;
  }
  .mod_reviews figure:first-of-type {
    margin-top: 10px;
    border-bottom: 1px solid #dcddde;
    padding-bottom: 10px;
  }
  .mod_reviews figure:last-of-type {
    border-top: 1px solid #dcddde;
    padding-top: 10px;
  }
  .news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news .left {
    margin: 0 auto;
  }
  .news .right {
    margin: 0;
  }
  .news .date {
    text-align: center;
  }
  .list_pages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .rooms {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .rooms .pre_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
    background-color: #1470da;
    border-radius: 10px;
    max-width: 406px;
  }
  .rooms .center {
    margin: 0;
  }
  .rooms .right {
    margin-bottom: 20px;
  }
  .rooms .radius_orange {
    padding-left: 18px;
    color: #eee;
  }
  .rooms .right .btn {
    line-height: 1.9em;
  }
  .rooms .title {
    text-align: center;
    color: #fff;
  }
  .rooms .open_info {
    display: block;
  }
  .full_info .mod_slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .reservation_pop .close {
    top: 5px;
    right: 5px;
  }
  .reservation_pop {
    padding: 0;
    width: 320px;
  }
  .reservation_pop .wrap {
    padding: 10px;
  }
  .reservation_pop .reservation_frm {
    margin-top: 10px;
  }
  .reservation_pop form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10px;
  }
  .reservation_pop .left_bx {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto;
    margin-top: 10px;
  }
  .reservation_pop .desc_rooms {
    padding-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .reservation_pop .desc_rooms .desc {
    margin: 0;
    text-align: left;
  }
  .reservation_pop .right_bx {
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto;
    margin-top: 10px;
  }
  .reservation_pop .reviews_email_frm {
    padding-top: 10px;
  }
  .reviews {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .reviews .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  .reviews .date {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #comment {
    width: 550px;
  }
  .reviews_add_frm .btn {
    line-height: 1.9em;
  }
}
@media screen and (max-width: 576px) {
  header .header_body {
    min-height: 100px;
  }
  .mod_logo {
    width: auto;
  }
  .mod_top_address .phone {
    font-size: 0.6em;
    line-height: 1.4em;
  }
  body.main {
    background: none;
  }
  .mod_breadcrumb img {
    width: auto;
  }
  .mod_main_slider li {
    background: none;
  }
  .mod_banners {
    display: none;
  }
  .mod_reviews figure img {
    width: auto;
  }
  .reviews_add_frm input.itext {
    width: 100%;
  }
  #comment {
    width: 100%;
    max-height: 200px;
    height: 200px;
    resize: none;
  }
  .mod_foot_menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-top: 20px;
  }
}